annotated-types==0.7.0
appdirs==1.4.4
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
music-tag==0.4.3
mutagen==1.47.0
pillow==11.3.0
podcastparser==0.6.10
pydantic==2.11.9
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.5.0
